In [144]:
%matplotlib inline
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np
from pandas import Series

In [145]:
data = pd.read_csv(r"C:/01 Projects/07 Personal_Projects/06 Hackathon/01_WNS_Analytics_Wizard/train_NA17Sgz/train.csv")
data.shape

(237609, 7)

In [146]:
data.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [147]:
data.impression_time = pd.to_datetime(data.impression_time)

In [148]:
data.head(100)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0
5,3416a75f4cea9109507cacd8e2f2aefc,2018-11-15 00:03:00,67352,409,latest,1,0
6,f457c545a9ded88f18ecee47145a72c0,2018-11-15 00:03:00,64356,190,intermediate,0,0
7,72b32a1f754ba1c09b3695e0cb6cde7f,2018-11-15 00:04:00,27329,481,latest,0,0
8,fc490ca45c00b1249bbe3554a4fdf6fb,2018-11-15 00:05:00,83318,386,old,0,0
9,d2ddea18f00665ce8623e36bd4e3c7c5,2018-11-15 00:05:00,70206,190,latest,0,0
10,43ec517d68b6edd3015b3edc9a11367b,2018-11-15 00:06:00,74339,481,old,0,1
11,7647966b7343c29048673252e490f736,2018-11-15 00:06:00,62357,385,latest,0,0
12,e2ef524fbf3d9fe611d5a8e90fefdc9c,2018-11-15 00:07:00,20273,249,latest,0,0
13,65b9eea6e1cc6bb9f0cd2a47751a186f,2018-11-15 00:08:00,18206,508,latest,1,0
14,73278a4a86960eeb576a8fd4c9ec6997,2018-11-15 00:08:00,71748,259,intermediate,1,0
15,4c56ff4ce4aaf9573aa5dff913df997a,2018-11-15 00:09:00,75546,275,old,0,0
16,d1f491a404d6854880943e5c3cd9ca25,2018-11-15 00:09:00,4238,371,latest,0,0
17,3988c7f88ebcb58c6ce932b957b6f332,2018-11-15 00:10:00,42507,207,latest,0,0
18,2b24d495052a8ce66358eb576b8912c8,2018-11-15 00:11:00,91471,499,latest,0,0
19,b3e3e393c77e35a4a3f3cbd1e429b5dc,2018-11-15 00:11:00,42151,372,old,0,0
20,bd4c9ab730f5513206b999ec0d90d1fb,2018-11-15 00:12:00,80697,385,latest,0,0
21,3636638817772e42b59d74cff571fbb3,2018-11-15 00:12:00,43537,469,latest,0,0
22,96da2f590cd7246bbde0051047b0d6f7,2018-11-15 00:13:00,48601,283,latest,0,0
23,eecca5b6365d9607ee5a9d336962c534,2018-11-15 00:13:00,11232,244,latest,0,0
24,757b505cfd34c64c85ca5b5690ee5293,2018-11-15 00:15:00,24334,385,intermediate,0,0
25,b1d10e7bafa4421218a51b1e1f1b0ba2,2018-11-15 00:16:00,77328,296,intermediate,0,0
26,63dc7ed1010d3c3b8269faf0ba7491d4,2018-11-15 00:16:00,41652,7,old,1,0
27,e165421110ba03099a1c0393373c5b43,2018-11-15 00:18:00,42485,409,old,0,0
28,f340f1b1f65b6df5b5e3f94d95b11daf,2018-11-15 00:19:00,48095,482,old,0,0
29,077e29b11be80ab57e1a2ecabb7da330,2018-11-15 00:19:00,61579,359,latest,1,0
...,...,...,...,...,...,...,...
70,acc3e0404646c57502b480dc052c4fe1,2018-11-15 00:58:00,970,407,latest,0,0
71,b2f627fff19fda463cb386442eac2b3d,2018-11-15 01:00:00,89496,127,intermediate,0,0
72,d7a728a67d909e714c0774e22cb806f2,2018-11-15 01:01:00,32981,296,old,0,0
73,5d44ee6f2c3f71b73125876103c8f6c4,2018-11-15 01:02:00,8636,469,intermediate,0,1
74,233509073ed3432027d48b1a83f5fbd2,2018-11-15 01:03:00,36933,318,latest,0,0
75,26dd0dbc6e3f4c8043749885523d6a25,2018-11-15 01:04:00,652,3,old,1,0
76,67e103b0761e60683e83c559be18d40c,2018-11-15 01:05:00,21465,207,intermediate,1,0
77,55b37c5c270e5d84c793e486d798c01d,2018-11-15 01:06:00,37127,3,old,1,0
78,1595af6435015c77a7149e92a551338e,2018-11-15 01:11:00,13375,5,old,1,1
79,07a96b1f61097ccb54be14d6a47439b0,2018-11-15 01:14:00,58545,377,latest,0,0
80,8a0e1141fd37fa5b98d5bb769ba1a7cc,2018-11-15 01:15:00,35754,359,latest,1,0
81,07c5807d0d927dcd0980f86024e5208b,2018-11-15 01:18:00,25422,190,intermediate,1,0
82,aba3b6fd5d186d28e06ff97135cade7f,2018-11-15 01:19:00,20683,260,old,1,0
83,5751ec3e9a4feab575962e78e006250d,2018-11-15 01:21:00,92177,202,old,0,0
84,a5cdd4aa0048b187f7182f1b9ce7a6a7,2018-11-15 01:22:00,25425,500,intermediate,1,0
85,5f0f5e5f33945135b874349cfbed4fb9,2018-11-15 01:23:00,75369,386,intermediate,1,0
86,6f2268bd1d3d3ebaabb04d6b5d099425,2018-11-15 01:25:00,90720,190,latest,0,0
87,88ae6372cfdc5df69a976e893f4d554b,2018-11-15 01:28:00,44200,385,intermediate,0,0
88,4b04a686b0ad13dce35fa99fa4161c65,2018-11-15 01:33:00,56001,127,latest,0,0
89,da8ce53cf0240070ce6c69c48cd588ee,2018-11-15 01:35:00,27543,190,latest,1,0
90,1905aedab9bf2477edc068a355bba31a,2018-11-15 01:36:00,25513,3,old,1,0
91,32b30a250abd6331e03a2a1f16466346,2018-11-15 01:38:00,90204,244,intermediate,0,0
92,31839b036f63806cba3f47b93af8ccb5,2018-11-15 01:40:00,40224,129,intermediate,0,0
93,d554f7bb7be44a7267068a7df88ddd20,2018-11-15 01:42:00,74984,385,old,1,0
94,013a006f03dbc5392effeb8f18fda755,2018-11-15 01:44:00,88880,296,intermediate,1,0
95,02a32ad2669e6fe298e607fe7cc0e1a0,2018-11-15 01:46:00,48994,207,latest,0,0
96,fe8c15fed5f808006ce95eddb7366e35,2018-11-15 01:49:00,60589,438,intermediate,0,0
97,847cc55b7032108eee6dd897f3bca8a5,2018-11-15 01:51:00,28093,46,latest,0,0
98,3b3dbaf68507998acd6a5a5254ab2d76,2018-11-15 01:53:00,65869,249,old,0,0
99,98d6f58ab0dafbb86b083a001561bb34,2018-11-15 01:56:00,11125,129,latest,0,0

In [149]:
data.dtypes

impression_id              object
impression_time    datetime64[ns]
user_id                     int64
app_code                    int64
os_version                 object
is_4G                       int64
is_click                    int64
dtype: object

In [150]:
data.is_click.mean()

0.04571375663379754

In [151]:
data.is_4G.mean()

0.3613120715124427

In [152]:
data[data.is_4G == 1].is_click.mean()

0.04475195396675636

In [153]:
data[data.is_4G == 0].is_click.mean()

0.04625785790534931

In [154]:
data.groupby("is_4G").is_click.mean()

is_4G
0    0.046258
1    0.044752
Name: is_click, dtype: float64

In [155]:
data.groupby("os_version").is_click.mean()

os_version
intermediate    0.051762
latest          0.041651
old             0.049290
Name: is_click, dtype: float64

In [156]:
appcodemean = data.groupby("app_code").is_click.mean()

In [157]:
appcodedf.reset_index(level=0, inplace=True)

In [158]:
data.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [159]:
data.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [160]:
appcodedf[appcodedf.app_code==0]

   level_0  index  app_code  is_click
0        0      0         0  0.082192

In [161]:
new_df = pd.DataFrame(data.impression_time,data.is_click)

In [162]:
new_df.reset_index(level=0, inplace=True)

In [168]:
new_df.shape

(237609, 3)

In [169]:
data["day"] = data["impression_time"].dt.dayofweek

In [178]:
data.head(10000)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click,day
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,3
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,3
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0,3
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0,3
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0,3
5,3416a75f4cea9109507cacd8e2f2aefc,2018-11-15 00:03:00,67352,409,latest,1,0,3
6,f457c545a9ded88f18ecee47145a72c0,2018-11-15 00:03:00,64356,190,intermediate,0,0,3
7,72b32a1f754ba1c09b3695e0cb6cde7f,2018-11-15 00:04:00,27329,481,latest,0,0,3
8,fc490ca45c00b1249bbe3554a4fdf6fb,2018-11-15 00:05:00,83318,386,old,0,0,3
9,d2ddea18f00665ce8623e36bd4e3c7c5,2018-11-15 00:05:00,70206,190,latest,0,0,3
10,43ec517d68b6edd3015b3edc9a11367b,2018-11-15 00:06:00,74339,481,old,0,1,3
11,7647966b7343c29048673252e490f736,2018-11-15 00:06:00,62357,385,latest,0,0,3
12,e2ef524fbf3d9fe611d5a8e90fefdc9c,2018-11-15 00:07:00,20273,249,latest,0,0,3
13,65b9eea6e1cc6bb9f0cd2a47751a186f,2018-11-15 00:08:00,18206,508,latest,1,0,3
14,73278a4a86960eeb576a8fd4c9ec6997,2018-11-15 00:08:00,71748,259,intermediate,1,0,3
15,4c56ff4ce4aaf9573aa5dff913df997a,2018-11-15 00:09:00,75546,275,old,0,0,3
16,d1f491a404d6854880943e5c3cd9ca25,2018-11-15 00:09:00,4238,371,latest,0,0,3
17,3988c7f88ebcb58c6ce932b957b6f332,2018-11-15 00:10:00,42507,207,latest,0,0,3
18,2b24d495052a8ce66358eb576b8912c8,2018-11-15 00:11:00,91471,499,latest,0,0,3
19,b3e3e393c77e35a4a3f3cbd1e429b5dc,2018-11-15 00:11:00,42151,372,old,0,0,3
20,bd4c9ab730f5513206b999ec0d90d1fb,2018-11-15 00:12:00,80697,385,latest,0,0,3
21,3636638817772e42b59d74cff571fbb3,2018-11-15 00:12:00,43537,469,latest,0,0,3
22,96da2f590cd7246bbde0051047b0d6f7,2018-11-15 00:13:00,48601,283,latest,0,0,3
23,eecca5b6365d9607ee5a9d336962c534,2018-11-15 00:13:00,11232,244,latest,0,0,3
24,757b505cfd34c64c85ca5b5690ee5293,2018-11-15 00:15:00,24334,385,intermediate,0,0,3
25,b1d10e7bafa4421218a51b1e1f1b0ba2,2018-11-15 00:16:00,77328,296,intermediate,0,0,3
26,63dc7ed1010d3c3b8269faf0ba7491d4,2018-11-15 00:16:00,41652,7,old,1,0,3
27,e165421110ba03099a1c0393373c5b43,2018-11-15 00:18:00,42485,409,old,0,0,3
28,f340f1b1f65b6df5b5e3f94d95b11daf,2018-11-15 00:19:00,48095,482,old,0,0,3
29,077e29b11be80ab57e1a2ecabb7da330,2018-11-15 00:19:00,61579,359,latest,1,0,3
...,...,...,...,...,...,...,...,...
9970,650627c390add68b2ee9cf404da91ce1,2018-11-19 00:23:00,14925,386,latest,1,0,0
9971,5e27fa9f1e017d329261a023f2400ce1,2018-11-19 00:24:00,42808,190,intermediate,0,0,0
9972,91ab07539b36f85ba8180d74ad2bb3ee,2018-11-18 17:48:00,34972,296,intermediate,1,0,6
9973,b3c6f53619ce7496216184f880eac8bd,2018-11-18 17:50:00,23119,385,old,0,0,6
9974,e2fc74dd6dde6ff116ccc7a4086adc0c,2018-11-18 17:51:00,74959,249,latest,0,0,6
9975,4254430a132cbc2cfb235d0fca392279,2018-11-18 17:52:00,52330,386,latest,1,0,6
9976,1ff74a7bfef596dee39077acae425bcd,2018-11-18 17:53:00,37260,44,intermediate,1,0,6
9977,fc33073cb57bd68d6df31b8c97c91e93,2018-11-18 17:55:00,81082,207,intermediate,1,0,6
9978,6c04175de4297fbf49921a487dc1a2f6,2018-11-18 17:56:00,73724,190,latest,0,0,6
9979,fd9b678088106ac518f68cc9756d4801,2018-11-18 17:57:00,78482,465,latest,0,0,6
9980,050718f543c7b2b6159a2f150fa6e93e,2018-11-18 17:58:00,5877,371,latest,1,0,6
9981,b8b26f24186191c7af8a25e2cc6115ca,2018-11-18 17:59:00,78881,296,old,0,0,6
9982,eb94d25085ab649f81d89e90cbe12fee,2018-11-18 18:00:00,12331,5,latest,0,0,6
9983,de644f7dd12420ff0b921e36678ec6f8,2018-11-18 18:01:00,85701,127,latest,0,0,6
9984,df343f6b84a0ed60c40db9e2cede73c1,2018-11-18 18:03:00,73356,390,latest,0,0,6
9985,788292a2cdb9fa425ff5fb269688befd,2018-11-18 18:05:00,24201,386,latest,1,0,6
9986,7e9da216f3bfda8c024b94938291ebec,2018-11-18 18:06:00,701,3,latest,0,0,6
9987,313b45b09ddb4059c7c16b4078895c04,2018-11-18 18:08:00,50945,127,intermediate,1,0,6
9988,782a229a7fa647902e6e6d1955560c6d,2018-11-18 18:09:00,48721,171,latest,1,0,6
9989,0e6930d35e9a52977d5bd93c414ce3b2,2018-11-18 18:10:00,3494,127,latest,1,0,6
9990,8ab3f67548529c077aee00f04b9a98c4,2018-11-18 18:11:00,5225,3,latest,0,0,6
9991,cb4a597d895f0b34add0254c67f9c9ae,2018-11-18 18:12:00,42928,465,latest,1,0,6
9992,0722ba570f1e381a4cf86360ad7d2000,2018-11-18 18:14:00,78935,116,old,0,0,6
9993,619cf51c28c270562ce9f63f3b39101a,2018-11-18 18:15:00,87402,44,intermediate,1,0,6
9994,8eef9b6c2c8397ee32bf3da4c752bc3c,2018-11-18 18:17:00,77853,190,old,0,0,6
9995,0121fc02bb750488e774fff937545734,2018-11-18 18:18:00,73985,127,latest,0,0,6
9996,c34ae2b80c30c0a74b1c8e980e4dbe5d,2018-11-18 18:20:00,58291,3,latest,0,0,6
9997,ed9a251aef4e6afaf071f1e822851eed,2018-11-18 18:21:00,3185,249,intermediate,0,0,6
9998,dfa61f0564c8bfb628a354da42279660,2018-11-18 18:22:00,42103,5,old,1,0,6
9999,d33d9c026f718e514a62f6a5e8eac0ab,2018-11-18 18:23:00,45558,296,old,1,0,6

In [179]:
data.groupby("day").is_click.mean()

day
0    0.046698
1    0.043007
2    0.044517
3    0.045868
4    0.044730
5    0.048106
6    0.047977
Name: is_click, dtype: float64

In [180]:
data.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click,day
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,3
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,3
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0,3
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0,3
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0,3